.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table tbody tr td{
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}